/* ~~~~~~~~~~ Variables ~~~~~~~~~~ */

$text__grey: #555;
$element__green: #68743d;
$elemt__grey--dark: #363636;

$green--dark: #24260b;
$green--very-dark: #1a1c06;
$green--light: #68743d;
$green--black: #141505;